html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    outline: none;
}
body {
    min-height: 100vh;
    background: url(../img/main-bg1.png) center/cover;
    background-attachment: fixed;
    font-size: 16px;
    color:var(--white);
    line-height: 1.5;
    -webkit-top-highlight-color: transparent;
    position: relative;
    overflow-x: hidden;
    padding: 35px 15px;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
}
body.hide-scrolling {
    overflow-y: hidden;
}
body::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter:blur(15px);
}
section {
    background-color: var(--black-alpha-25);
    border: 2px solid rgba(0,0,0,0.2);
    border-left-color: rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
    backdrop-filter: blur( 4px );
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    display: none;
}
section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}
section.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
h1,h2 {
    font-weight: 600;
}
h3,h4,h5,h6 {
    font-weight: 500;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.main {
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.main.fade-out {
    opacity: 0;
}
.container {
    padding: 0 40px;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.aic {
    align-items: center;
}
.hidden {
    display: none !important;
}
.section-title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
    text-shadow: #013372 1px 0 20px, #013372 1px 0 20px, #013372 1px 0 20px, #013372 1px 0 30px;
}
.sec-padding {
    padding: 80px 0;
}
.flex-end {
    justify-content: flex-end;
}
// Custom Scrollbar
::-webkit-scrollbar {
    width: 3px;
    &-track {
        background-color: #000;
    }
    &-thumb {
       background: linear-gradient(to top, var(--main-color), var(--blue));
    }
}
// Animation
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotateClockWise1 {
    0%,100%{
        transform:translateY(-55px) rotate(0deg);
        box-shadow:0px 0px 10px #013372, 0px 0px 10px #013372, 0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372;
    }
    50%{
        transform:translateY(950px) rotate(360deg);
        box-shadow:0px 0px 10px #8e1892,0px 0px 20px #8e1892,0px 0px 50px #8e1892, 0px 0px 50px #8e1892,0px 0px 50px #8e1892,0px 0px 100px #8e1892;

    }
}
@keyframes rotateClockWise2 {
    0%,100%{
        transform:translateY(-55px) rotate(0deg);
        box-shadow:0px 0px 10px #013372, 0px 0px 10px #013372, 0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372;
    }
    50%{
        transform:translateY(950px) rotate(360deg);
        box-shadow:0px 0px 10px #8e1892,0px 0px 20px #8e1892,0px 0px 50px #8e1892, 0px 0px 50px #8e1892,0px 0px 50px #8e1892,0px 0px 100px #8e1892;
    }
}
@keyframes rotateClockWise3 {
    0%,100%{
        transform:translateY(-55px) rotate(0deg);
        box-shadow:0px 0px 10px #013372, 0px 0px 10px #013372, 0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372;
    }
    50%{
        transform:translateY(950px) rotate(-360deg);
        box-shadow:0px 0px 10px #8e1892,0px 0px 20px #8e1892,0px 0px 50px #8e1892, 0px 0px 50px #8e1892,0px 0px 50px #8e1892,0px 0px 100px #8e1892;
    }
}
@keyframes rotateunClockWise1 {
    0%,100%{
        transform:translateY(55px) rotate(0deg);
        box-shadow:0px 0px 10px #8e1892,0px 0px 20px #8e1892,0px 0px 50px #8e1892, 0px 0px 50px #8e1892,0px 0px 50px #8e1892,0px 0px 100px #8e1892;
    }
    50%{
        transform:translateY(-950px) rotate(-360deg);
        box-shadow:0px 0px 10px #013372, 0px 0px 10px #013372, 0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372,0px 0px 10px #013372;
    }
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes hue {
    0%{
        transform:rotate(0deg);
        filter:hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter:hue-rotate(360deg);
    }
}
@keyframes hueImg {
    0%,100%{
        box-shadow:0px 0px 10px #013372,0px 0px 20px #013372,0px 0px 20px #013372;
    }
    50%{
        box-shadow:0px 0px 10px #8e1892,0px 0px 20px #8e1892,0px 0px 20px #8e1892;
    }
}
@keyframes hueImgSmall {
    0%,100%{
        box-shadow:0px 0px 10px #013372;
    }
    50%{
        box-shadow:0px 0px 10px #8e1892;
    }
}
@keyframes hueImgMed {
    0%,100%{
        box-shadow:0px 0px 10px #013372, 0px 0px 10px #013372;
    }
    50%{
        box-shadow:0px 0px 10px #8e1892, 0px 0px 10px #8e1892;
    }
}
@keyframes upDownHue {
    0%,100% {
        transform: translateY(-20px);
        box-shadow:0px 0px 10px #013372, 0px 0px 20px #013372, 0px 0px 20px #013372, 0px 0px 20px #013372, 0px 0px 20px #013372;
    }
    50%{
        transform:translateY(130px);
        box-shadow:0px 0px 10px #8e1892, 0px 0px 20px #8e1892, 0px 0px 20px #8e1892, 0px 0px 20px #8e1892, 0px 0px 20px #8e1892;
    }
}

// Buttons
button {
    font-family: inherit;
    user-select: none;
}
.btn {
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.1);
    animation: hueImg 15s linear infinite;
    border: none;
    padding: 10px 28px;
    display: inline-block;
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 0%;
        background: linear-gradient(to right, var(--main-color), var(--blue));
        z-index: -1;
        transition: width 0.8s ease;
    }
    &:hover::before {
        width: 100%;
    }
    &:hover {
        color: var(--white);
        box-shadow:0px 0px 0px #8e1892;
    }
}
